<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true" throwConfigExceptions="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>

  <variable name="stamp" value="${date} ${logger}" />
  <variable name="warnLayout" value="${stamp} [!] ${message}" />

  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
            layout="${warnLayout}${newline}${pad:padding=10:inner=${exception:maxInnerExceptionLevel=5:format=ToString}}" />

    <target name="console" xsi:type="Console" />
    <target type="ApplicationInsightsTarget" name="aiTarget" />
  </targets>

  <rules>



    <logger name="*" minlevel="Trace" writeTo="aiTarget" />
    <logger name="*" minlevel="Trace" writeTo="console,logfile" />
  </rules>
</nlog>
