<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>

  <variable name="stamp" value="${date} ${logger}" />
  <variable name="warnLayout" value="${stamp} [!] ${message}" />

  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
            layout="${warnLayout}${newline}${pad:padding=10:inner=${exception:maxInnerExceptionLevel=5:format=ToString}}" />

    <target name="console" xsi:type="Console" />
    <target name="logentries" type="Logentries" debug="true"
            layout="${longdate} ${uppercase:${level}}, ${callsite} -> ${message}
            ${newline}ST->${stacktrace}
            ${onexception:${newline}EXCEPTION OCCURRED\:${exception:maxInnerExceptionLevel=5:format=tostring}}" />
    <target name="logentriesTimer" type="Logentries" debug="true"
            layout="${longdate} ${uppercase:${level}}, ${callsite:SkipFrames=1} -> ${message}
            ${newline}ST->${stacktrace}
            ${onexception:${newline}EXCEPTION OCCURRED\:${exception:maxInnerExceptionLevel=5:format=tostring}}" />
    <target type="ApplicationInsightsTarget" name="aiTarget" />
  </targets>

  <rules>



    <logger name="*" minlevel="Trace" writeTo="aiTarget,console" />
  </rules>
</nlog>
